{{#get "users" limit="1" as |user|}} {{#user}}
<div class="aboutMe">
  <div class="user-cover">
    <img src="{{cover_image}}" alt="">
  </div>
  <div class="center-box position-relative">
    <div class="user-img">
      <img src="{{profile_image}}" alt="user-image">
    </div>
  </div>
  <div class="user-content">
    <div class="text-center">
      <div class="user-name">{{name}}</div>
      <div class="user-description">{{bio}}</div>
    </div>
  </div>
</div>
{{/user}} {{/get}}

<!--Change the links to your sites-->
<div class="sidebox box social clearfix">
  <div class="sidebox-title">Follow</div>
  <div class="sidebox-content">
    <ul>
      <a href="/rss" target="_blank" class="social-item rss">
        <li>
          <i class="fa fa-rss"></i>
        </li>
      </a>

      <a href="https://www.facebook.com/zhang.l.ren" target="_blank" class="social-item fb">
        <li>
          <i class="fa fa-facebook"></i>
        </li>
      </a>

      <a href="http://github.com/balabagi2012" target="_blank" class="social-item github">
        <li>
          <i class="fa fa-github"></i>
        </li>
      </a>

      <a href="https://blog.lizen.me" target="_blank" class="social-item home">
        <li>
          <i class="fa fa-home"></i>
        </li>
      </a>
    </ul>
  </div>
</div>

<div class="box sidebox">
  <div class="sidebox-title">文章分類</div>
  <div class="sidebox-content tags-box">
    {{#get "tags"}}
    <ul>
      {{#foreach tags}}
      <li>
        <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
      </li>
      {{/foreach}}
    </ul>
    {{/get}}
  </div>
</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">最新文章</div>
  <div class="sidebox-content loading">
    <div class="loader">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  </div>
</div>